<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
    <h1>Welcome to Fwitter</h1>
    <%= yield %>
    <br>
    <% if logged_in? %>
      <form action="/logout" method="GET">
        <input type="submit" value="Sign Out">
      </form>
    <% end %>
    <hr>
    <footer>
      <strong>2020 Wills Blake</strong>
    </footer>
  </body>
</html>
